QMainWindow{
background-color:white;
}
QPlainTextEdit#plainTextEdit_terminal{
background-color:black;
color:white;
font-family:Consolas;
font-size:12px;
}
QLabel{
font-family:Palatino;
font-size:13px;
}
QPushButton{
font-weight:bold;
}
QTabWidget{
font-family:Georgia;
font-weight:bold;
font-size:13px;
}
QMenuBar{
font-family:Georgia;
font-size:12px;
}
QDockWidget{
font-family:Georgia;
font-size:12px;
}
QTreeWidget{
font-size:12px;
}
QDialogButtonBox{
font-weight:normal;
}
