QMainWindow{
background-color:white;
}
QPlainTextEdit#plainTextEdit_terminal{
background-color:black;
color:white;
font-family:Consolas;
font-size:12px;
}
QLabel{
font-family:Palatino;
font-size:12px;
}
