QMainWindow{
background-color:white;
}
QPlainTextEdit#plainTextEdit_terminal{
background-color:black;
color:white;
font-family:Consolas;
font-size:12px;
}
QLabel{
font-family:Palatino;
font-size:14px;
}
QPushButton{
font-weight:bold;
font-size:14px;
}
QTabWidget{
font-family:Georgia;
font-weight:bold;
font-size:13px;
}
QRadioButton{
font-family:Palatino;
font-size:14px;
}
QLineEdit{
font-size:14px;
}
QComboBox{
font-size:14px;
}
