QMainWindow{
background-color:white;
}
QLabel{
font-size:14px;
color:#A0184B;
}
QLabel#label{
border:2px solid rgb(0,0,255);
}
QTextEdit{
font-size:14px;
background-color:black;
color:white;
}
QTextEdit#textEdit{
background-color:white;
color:black;
}
QTextEdit#textEdit_number{
background-color:rgb(250,250,250,180);
color:rgb(0,0,0,100);
}
